{% extends "app/layout.html" %}
{% block content %}
{% if form != None %}

    <br><h2>Отправьте пожалуйста заполненную анкету</h2><br>
        <div>
            <form method="post">
                {% csrf_token %}
                <label for="{{ form.name.id_for_label }}">{{ form.name.label }}:</label> {{ form.name }} <br><br>
                <label for="{{ form.city.id_for_label }}">{{ form.city.label }}:</label> {{ form.city }} <br>
                <label for="{{ form.gender.id_for_label }}">{{ form.gender.label }}:</label> {{ form.gender }}
                <label for="{{ form.job.id_for_label }}">{{ form.job.label }}:</label><br> {{ form.job }} <br><br>
                <label for="{{ form.use.id_for_label }}">{{ form.use.label }}:</label><br> {{ form.use }} <br><br>
                <label for="{{ form.notice.id_for_label }}">{{ form.notice.label }}:</label> {{ form.notice }} <br><br>
                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}:</label> {{ form.email }} <br><br>
                <label for="{{ form.message.id_for_label }}">{{ form.message.label }}:</label><br> {{ form.message }} <br><br>
                <input type="submit" value="Отправить" id="b1">
                <script>
                    function b1_mouseover() {
                        $('#b1').css('background-color', 'grey')
                    }
                    $('#b1').mouseover(b1_mouseover);
                    function b1_mouseout() {
                        $('#b1').css('background-color', '')
                    }
                    $('#b1').mouseout(b1_mouseout);
                    function id_name_focus() {
                        $('#id_name').css('background-color', 'Gainsboro')
                    }
                    $('#id_name').focus(id_name_focus);
                    function id_name_blur() {
                        $('#id_name').css('background-color', '')
                    }
                    $('#id_name').blur(id_name_blur);
                    function id_city_focus() {
                        $('#id_city').css('background-color', 'Gainsboro')
                    }
                    $('#id_city').focus(id_city_focus);
                    function id_city_blur() {
                        $('#id_city').css('background-color', '')
                    }
                    $('#id_city').blur(id_city_blur);
                    function id_job_focus() {
                        $('#id_job').css('background-color', 'Gainsboro')
                    }
                    $('#id_job').focus(id_job_focus);
                    function id_job_blur() {
                        $('#id_job').css('background-color', '')
                    }
                    $('#id_job').blur(id_job_blur);
                    function id_email_focus() {
                        $('#id_email').css('background-color', 'Gainsboro')
                    }
                    $('#id_email').focus(id_email_focus);
                    function id_email_blur() {
                        $('#id_email').css('background-color', '')
                    }
                    $('#id_email').blur(id_email_blur);
                    function id_message_focus() {
                        $('#id_message').css('background-color', 'Gainsboro')
                    }
                    $('#id_message').focus(id_message_focus);
                    function id_message_blur() {
                        $('#id_message').css('background-color', '')
                    }
                    $('#id_message').blur(id_message_blur);

                </script>
                
                
            </form>
        </div>
{% else %}
<br><h2>Благодарим за предоставленную информацию!</h2>
<h3>Вы сообщили о себе следующее:</h3>
<ul>
    <li><span>Имя:</span> {{ data.name}}</li>
    <li><span>Город:</span> {{ data.city}}</li>
    <li><span>Пол:</span> {{ data.gender}}</li>
    <li><span>Деятельность:</span> {{ data.job}}</li>
    <li><span>Посещаемость шиномонтажа:</span> {{ data.use}}</li>
    <li><span>Получать новые предложения на e-mail:</span> {{ data.notice}}</li>
    <li><span>Ваш e-mail:</span> {{ data.email}}</li>
    <li><span>Информация о себе:</span> {{ data.message}}</li>
</ul>
{% endif %}
{% endblock %}